*.hdf5
*.h5
*.h5part
*.pyc
*.pdf
*.svg
*.png
*checkpoint*
Dockerfile
*.npy
*checkpoint.ipynb
*runSimulation*
submission_gaps*
.ipynb.checkpoints/
.vscode/
*.ipynb.checkpoints
notebooks
__pycache__
*.yaml